/*this is a component css*/

.DashboardProps {
    padding: 10px;
}

.label_tofProps {
    overflow: hidden;
    font: bold;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-bottom: 20px 
}

.btn_dashboardProps {}

.btn_heroesProps {}

.routeroutlet1Props {
    display: flex;
    flex-direction: column;
    flex: 1
}
.defaultRouterOutletProps {}
.DashboardPropsDiv{
    background: whitesmoke;
    border: lightskyblue solid 1px;
    display: flex;
    flex-direction: row;
    /* align-content: space-between; */
    justify-content: space-between; 
    padding: 10px 1650px 10px 10px
}