<form novalidate [formGroup]="screenFormGroup">
    <div style="display: flex; flex-direction: column" magic="Dashboard" class="DashboardProps">
        <div style="display: flex; flex-direction: row">
            <label magic="label_tof" class="label_tofProps">
                Tour Of Heroes</label>
        </div>
        <div style="display: flex; flex-direction: row" class="DashboardPropsDiv">
            <button mat-raised-button color="primary" magic="btn_dashboard" class="btn_dashboardProps">
                Dashboard</button>
            <button mat-raised-button color="primary" magic="btn_heroes" class="btn_heroesProps">
                Heroes</button>
        </div>
        <!-- <div style="display: flex; flex-direction: row"> -->
            <router-outlet magic="defaultRouterOutlet" class="defaultRouterOutletProps">
            </router-outlet>
        <!-- </div> -->
    </div>
</form>