<form novalidate [formGroup]="screenFormGroup">
    <div style="display: flex; flex-direction: column" magic="HeroDetails" class="HeroDetailsProps">
        <div style="display: flex; flex-direction: row; padding: 10px;">
            <label magic="lbl_hero_details" class="lbl_hero_detailsProps">
                {{mg.getText('lbl_hero_details')}}
            </label>
        </div>
        <div style="display: flex; flex-direction: row; padding: 10px;">
            <label magic="lbl_hero_id" class="lbl_hero_idProps">
                Hero ID : </label>
            <label magic="hero_id" tabindex="-1" class="hero_idProps">
                {{mg.getValue('hero_id') }}
            </label>
        </div>
        <div style="display: flex; flex-direction: row; padding: 10px;">
            <label magic="lbl_hero_name" class="lbl_hero_nameProps">
                Hero Name : </label>
            <mat-form-field class="hero_nameProps">
                <div>
                    <input matInput magic="hero_name" formControlName="hero_name" pattern="^.{0,100}$">
                    <div *ngIf="(screenFormGroup.get('hero_name').dirty) && (
screenFormGroup.get('hero_name').hasError('pattern')
)">
                        <p>{{ mg.getErrMsg('hero_name') }}</p>
                    </div>
                </div>
            </mat-form-field>
        </div>
        <div style="display: flex; flex-direction: row" class="HeroDetailsPropsButtons">
            <!-- <button mat-raised-button color="primary" magic="btn_back" class="btn_backProps">
                Back</button> --> 
            <button mat-raised-button color="primary" class="btn_backProps" onclick="history.back()"> Back </button>
            <button mat-raised-button color="primary" magic="btn_save" class="btn_saveProps">
                Save</button>
        </div>
    </div>
</form>