/*this is a component css*/

.HeroDetailsProps {}

.lbl_hero_detailsProps {
    overflow: hidden;
    font: bold;
    font-family:Arial, Helvetica, sans-serif;
}

.lbl_hero_idProps {
    overflow: hidden;
}

.hero_idProps {}

.lbl_hero_nameProps {
    overflow: hidden;
}

.hero_nameProps {}

.btn_backProps {}

.btn_saveProps {}

.HeroDetailsPropsButtons {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
    padding: 10px 1650px 10px 10px
}

