<form novalidate [formGroup]="screenFormGroup">
    <div style="display: flex; flex-direction: column" magic="HeroesList" class="HeroesListProps">
        <div style="display: flex; flex-direction: row" class="HeroesListPropsDiv">
            <label magic="lbl_hero_name" class="lbl_hero_nameProps">
                Hero Name</label>
            <mat-form-field class="new_nameProps">
                <div>
                    <input matInput magic="new_name" formControlName="new_name" pattern="^.{0,100}$">
                    <div *ngIf="(screenFormGroup.get('new_name').dirty) && (
screenFormGroup.get('new_name').hasError('pattern')
)">
                        <p>{{ mg.getErrMsg('new_name') }}</p>
                    </div>
                </div>
            </mat-form-field>
            <button mat-raised-button color="primary" magic="btn_add" class="btn_addProps">
                Add New</button>
        </div>
        <div style="display: flex; flex-direction: row">
            <div class="example-container mat-elevation-z8 hero_list_tableTableContainerProps">
                <mat-table #table [dataSource]="dataSource" class="hero_list_tableProps" matSort matSortDisableClear (matSortChange)="tableService.sortData($event)">
                    <ng-container magic="col_id" matColumnDef="col_id">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <label magic="hero_id" [rowId]="row.rowId" class="hero_idProps hidden_border">
                                    {{mg.getValue('hero_id', row.rowId) }}
                                </label>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container magic="col_name" matColumnDef="col_name">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Hero Name </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <label magic="hero_name" [rowId]="row.rowId" class="hero_nameProps hidden_border">
                                    {{mg.getValue('hero_name', row.rowId) }}
                                </label>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container magic="col_select_edit" matColumnDef="col_select_edit">
                        <mat-header-cell *matHeaderCellDef> Select </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <button mat-raised-button color="primary" magic="btn_edit" [rowId]="row.rowId" class="btn_editProps">
                                    Edit</button>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <ng-container magic="col_select_del" matColumnDef="col_select_del">
                        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                        <mat-cell *matCellDef="let row" magicMark="magicTableRowContainer">
                            <div style="display: flex; flex-direction: row" *ngIf="mg.ifRowCreated(row)">
                                <button mat-raised-button color="primary" magic="btn_del" [rowId]="row.rowId" class="btn_delProps">
                                    Delete</button>
                            </div>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns" class="hero_list_table_table_headerRowProps"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;" class="hero_list_table_table_rowProps" [ngClass]="{ 'selected': selection.isSelected(row)}"
                        magicMark="magicTableRowContainer" (click)="tableService.selectRow(row.rowId)">
                    </mat-row>
                </mat-table>
                <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" (page)="tableService.mgOnPaginateChange($event)">
                </mat-paginator>
            </div>
        </div>
    </div>
</form>