/*this is a component css*/

.HeroesListProps {}

.HeroesListPropsDiv{
    background: whitesmoke;
    border: lightskyblue solid 1px;
    border-top: 1px dashed rgb(165, 160, 160);
    /* align-content: center;  */
    justify-content: right;
    padding: 10px 10px 10px 10px
}

.lbl_hero_nameProps {
    overflow: hidden;
    font: bold;
    font-family:Arial, Helvetica, sans-serif;
    padding-right: 20px;
    /* padding-Top: 50px  */
}


.new_nameProps {
    overflow: hidden;
    font: bold;
    font-family:Arial, Helvetica, sans-serif;
    padding-right: 20px;
}

.btn_addProps {
    overflow: hidden;
    font: bold;
    font-family:Arial, Helvetica, sans-serif;
    padding-right: 20px;
}

.hero_list_tableTableContainerProps {
    background: whitesmoke;
    /* align-content: center;
    justify-content: space-between;
    padding: 10px 10px 10px 10px; */
    display: flex;
    flex-direction: column;
    flex: 1
}

.hero_list_tableProps {
    border: lightskyblue solid 1px;
}

.hero_list_table_table_rowProps {}

.hero_list_table_table_rowProps:hover {
    background-color: #EEEEEE;
}

.selected {
    background: #F5F5F5;
}

.col_idProps {}

.mat-column-col_id {}

.hero_idProps {}

.col_nameProps {}

.mat-column-col_name {}

.hero_nameProps {}

.col_select_editProps {}

.mat-column-col_select_edit {}

.btn_editProps {}

.col_select_delProps {}

.mat-column-col_select_del {}

.btn_delProps {}