/*this is a component css*/

.TopHeroesProps {}

.lbl_top_heroesProps {
    overflow: hidden;
    font: bold;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-bottom: 20px;
    padding-Top: 50px 
}

.btn_top_hero_1Props {
	padding: 50px
 }

.btn_top_hero_2Props {
 padding: 50px
}

.btn_top_hero_3Props {
 padding: 50px
}

.btn_top_hero_4Props {
 padding: 50px
}

.TopHeroesPropsDiv{
    background: whitesmoke;
    border: lightskyblue solid 1px;
    border-top: 1px dashed rgb(165, 160, 160);
    align-content: center;
    justify-content: space-between;
    padding: 10px 10px 10px 10px
}