<form novalidate [formGroup]="screenFormGroup">
    <div style="display: flex; flex-direction: column" magic="TopHeroes" class="TopHeroesProps">
        <div style="display: flex; flex-direction: row">
            <label magic="lbl_top_heroes" class="lbl_top_heroesProps">
                Top Heroes</label>
        </div>
        <div style="display: flex; flex-direction: row" class="TopHeroesPropsDiv">
            <button mat-raised-button color="primary" magic="btn_top_hero_1" class="btn_top_hero_1Props">
                {{mg.getValue('btn_top_hero_1')}}
            </button>
            <button mat-raised-button color="primary" magic="btn_top_hero_2" class="btn_top_hero_2Props">
                {{mg.getValue('btn_top_hero_2')}}
            </button>
            <button mat-raised-button color="primary" magic="btn_top_hero_3" class="btn_top_hero_3Props">
                {{mg.getValue('btn_top_hero_3')}}
            </button>
            <button mat-raised-button color="primary" magic="btn_top_hero_4" class="btn_top_hero_4Props">
                {{mg.getValue('btn_top_hero_4')}}
            </button>
        </div>
    </div>
</form>